<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCT36jlISMfIc0as9M2i_BlSgm9BWckMA0</string>
	<key>GCM_SENDER_ID</key>
	<string>148020544872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple-samplecode.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-73a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-73a6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148020544872:ios:be41e9fcf05d6d620382dd</string>
</dict>
</plist>